body{
	background-color:#5e7688;
	margin:0%;
}
.navigation-bar1{
	padding:2%;
}

a{
	text-decoration: none;
	padding:1%;
	border:2px solid black;
	border-radius:15px 15px;
	background-color: cyan;
	border:none;
}
nav a:hover{
	background-color:black;
	color:white;

}.navigation-bar1 a{
	padding-top: 2%;
	text-decoration: none;
	padding:1%;
	border-radius:15px 15px;
	background-color: cyan;
	border:none;
	margin-left:2%;

}
nav a:hover{
	background-color: black;
	color:white;
	